.container {
  text-align: center;
  justify-content: center;
}

/* I like large text */
p {
  font-size: large;
}

h1 {
  font-weight: bolder;
}

section {
  padding-top: 100px;
}

.card {
  text-align: center;
}

.img-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.about-me-stats {
  padding: 50px;
}

/* Resume Style */
.resume-section .row {
  text-align: left;
}

.resume-section .resume-summary {
  text-align: center;
}

.resume-section h2,
h3,
i {
  font-weight: bold;
}

.resume-section h1 {
  text-align: center;
}

.resume-section i {
  font-size: 14px;
  background-color: rgba(252, 227, 0, 0.397);
}

.resume-section h3 {
  font-size: 20px;
}

.resume-section li,
ul {
  padding: 10px;
}

.resume-section img {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Carousel Style */
.carousel-inner p {
  font-size: larger;
}

.carousel .card {
  border: none;
}

/* Form Style */
#contact .row {
  justify-content: center;
  padding: 10px;
}

/* Navbar */
.navbar-custom {
  background-color: rgb(29, 0, 12);
}

.navbar-custom .nav-link {
  color: white;
}
