section {
  padding-top: 100px;
}

.container {
  text-align: center;
  justify-content: center;
}
.card {
  text-align: center;
}

.img-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.about-me-stats {
  padding: 50px;
}

.fancy-header {
}

/* Carousel Style */
.carousel-inner p {
  font-size: larger;
}

/* Form Style */
#contact {
  padding: 50px;
}

#contact .row {
  justify-content: center;
  padding: 10px;
}
